.auth__content{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth__content-form{
    max-width: 320px;
    height: auto;
    padding: 30px 20px;
    border-radius: 24px;
    background: white;
    box-shadow: 0px 6px 58px 0px rgba(196, 203, 214, 0.10);
}
.auth__form-title{
    text-align: center;
    color: #0A1629;
    margin-bottom: 20px;
}
.auth__form-box{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.auth__form-box label, .auth__form-forgot{
    color: #7D8592;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px; 
}
.auth__form-email, .auth__input-password{
    width: 280px;
    padding: 12px 70px 12px 12px;
    border-radius: 14px;
    border: 1px solid #D8E0F0;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(184, 200, 224, 0.22);
    outline: none;
}
.auth__input-password{
    display: flex;
    column-gap: 10px;
}
.auth__input-password img{
    max-width: 24px;
    max-height: 24px;
    cursor: pointer;
}
.auth__form-pass{
    min-width: 210px;
    border: none;
    outline: none;
}
.auth__form-forgot{
    margin-top: 10px;
    display: block;
    text-align: end;
    text-decoration: none;
}
.auth__submit-btn {
    
}